<div class="widget text-center mt-5 mt-md-0">
    <%= image_tag 'author.jpg', alt: '', class: 'author-thumb-sm rounded-circle d-block mx-auto' %>                        
    <h2 class="widget-title text-white d-inline-block mt-4"><%= t('author_widget.title') %></h2>
    <p class="mt-4">
        <%= t('author_widget.description') %>
    </p>
    <ul class="list-inline mt-3">
        <li class="list-inline-item">
            <a href="https://wa.me/+18296294794" target="_blank" class="text-white text-primary-onHover p-2">
                <span class="bi-whatsapp"></span>
            </a>
        </li>        <li class="list-inline-item">
            <a href="https://www.facebook.com/narciso.perez.3950178" target="_blank" class="text-white text-primary-onHover p-2">
                <span class="bi-facebook"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.instagram.com" target="_blank" class="text-white text-primary-onHover p-2">
                <span class="bi-instagram"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="mailto:narciso@perez.do" class="text-white text-primary-onHover p-2">
                <span class="bi-envelope-fill"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="tel:+18098628384" class="text-white text-primary-onHover p-2">
                <span class="bi-telephone-fill"></span>
            </a>
        </li>
    </ul>
</div>

<div class="widget bg-dark p-4 text-center">
    <h2 class="widget-title text-white d-inline-block mt-4"><%= t('subscribe_widget.title') %></h2>
    <p class="mt-4"><%= t('subscribe_widget.description') %></p>
    <%= form_with(model: Subscription.new, local: false, data: { controller: "subscription" }) do |form| %>
        <%= form.email_field :email, placeholder: t('subscribe_widget.placeholder'), class:"form-control bg-black text-white", data: { action: "input->clear_field#clear" } %><br>
        <%= form.submit t('subscribe_widget.button'), class: 'btn btn-primary fs-6 my-2' %>
    <% end %>
</div>