<%= form_for @painting, html: { class: 'form-group my-2 mb-4', multipart: true } do |f| %>
  <div class="mb-3">
    <%= f.label :en_title, t('paintings.form.english_title'), class: 'form-label' %>
    <%= f.text_field :en_title, class: 'form-control', placeholder: t('paintings.form.enter_english_title') %>
  </div>

  <div class="mb-3">
    <%= f.label :en_description, t('paintings.form.english_description'), class: 'form-label' %>
    <%= f.text_area :en_description, class: 'form-control', placeholder: t('paintings.form.enter_english_description') %>
  </div>

  <div class="mb-3">
    <%= f.label :es_title, t('paintings.form.spanish_title'), class: 'form-label' %>
    <%= f.text_field :es_title, class: 'form-control', placeholder: t('paintings.form.enter_spanish_title') %>
  </div>
  
  <div class="mb-3">
    <%= f.label :es_description, t('paintings.form.spanish_description'), class: 'form-label' %>
    <%= f.text_area :es_description, class: 'form-control', placeholder: t('paintings.form.enter_spanish_description') %>
  </div>

  <div class="mb-3">
    <%= f.label :creation_date, t('paintings.form.creation_date'), class: 'form-label' %>
    <%= f.date_field :creation_date, class: 'form-control' %>
  </div>
  
  <%= f.submit t('save'), class: 'btn btn-primary me-2' %>
  <%= link_to t('back'), :back, class: 'btn btn-secondary' %>
<% end %>
