<div class="card post-item bg-transparent border-0 mb-5">
    <div class="painting-section">
        <%= link_to painting_path(painting) do %>
            <%= image_tag painting.images.first.image.url, alt: 'Narciso Perez Fine Art', class: 'painting-image rounded-0' if painting.images.any? %>
        <% end %>
    </div>
    <div class="card-body px-0">
        <h2 class="card-title">
            <% title_field = "#{I18n.locale}_title".to_sym %>
            <%= link_to painting[title_field], painting_path(painting), class: 'text-white opacity-75-onHover' %>
        </h2>
        <ul class="post-meta mt-3">
            <li class="d-inline-block">
                <span class="bi-card-list text-primary"></span>
                <span class="mx-2 text-white fs-6">Fine Art</span>
            </li>
            <% if painting.creation_date.present? %>
                <li class="d-inline-block mx-4">
                    <span class="bi-clock text-primary"></span>
                    <span class="mx-2 text-white fs-6"><%= l painting.creation_date, format: :long %></span>
                </li>
            <% end %>
        </ul>
        <p class="card-text my-4">
          <% description_field = "#{I18n.locale}_description".to_sym %>
          <%= painting[description_field].truncate(30) %>
        </p>
        <%= link_to 'See details', painting_path(painting), class: 'btn btn-primary fs-6' %>
    </div>
</div>
<hr>