<div class="card post-item bg-transparent border-0">
  <div class="card-body px-0">
    <h2 class="card-title text-white">
      <% title_field = %w[en es].include?(I18n.locale.to_s) ? "#{I18n.locale}_title".to_sym : :en_title %>
      <%= @painting[title_field] || @painting[:en_title] %>
    </h2>
  </div>
</div>

<% if @painting.images.any? %>
  <hr class="my-4">
  <section class="gallery-section position-relative mb-4">
    <div id="carouselEventControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @painting.images.each_with_index do |image, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %> text-center">
            <%= link_to image.image.url, class: "gallery-lightbox", data: { glightbox: '', turbo: false } do %>
              <%= image_tag image.image.url, class: "d-block w-100", alt: "", style: "object-fit: cover; max-height: 600px;" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselEventControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselEventControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
<% end %>

<!-- Добавленный блок навигации -->
<div class="d-flex justify-content-center mt-3 mb-3">
  <% if @prev_painting %>
    <%= link_to painting_path(@prev_painting), class: 'btn btn-outline-secondary border rounded-4 d-flex align-items-center', data: { turbo: false } do %>
      <i class="bi bi-arrow-left mx-0"></i><span class="d-none d-md-block mx-2"><%= t('paintings.show.previous_painting') %></span>
    <% end %>
  <% end %>

  <%= link_to paintings_path, class: 'btn btn-outline-secondary border rounded-4 d-flex align-items-center mx-4' do %>
    <i class="bi bi-grid-3x3-gap mx-0"></i><span class="d-none d-md-block mx-2"><%= t('paintings.show.all_paintings') %></span>
  <% end %>

  <% if @next_painting %>
    <%= link_to painting_path(@next_painting), class: 'btn btn-outline-secondary border rounded-4 d-flex align-items-center', data: { turbo: false } do %>
      <span class="d-none d-md-block mx-2"><%= t('paintings.show.next_painting') %> </span><i class="bi bi-arrow-right mx-0"></i>
    <% end %>
  <% end %>
</div>

<div class="card post-item bg-transparent border-0 mb-5">
  <div class="card-body px-0">
    <p class="card-text">
      <% description_field = %w[en es].include?(I18n.locale.to_s) ? "#{I18n.locale}_description".to_sym : :en_description %>
      <%= @painting[description_field] || @painting[:en_description] %>
    </p>
    <ul class="post-meta mt-3">
      <li class="d-inline-block">
        <span class="bi-card-list text-primary"></span>
        <span class="mx-2 text-white"><%= t('paintings.show.fine_art') %></span>
      </li>
      <% if @painting.creation_date.present? %>
        <li class="d-inline-block mx-4">
          <span class="bi-clock text-primary"></span>
          <span class="mx-2 text-white"><%= l @painting.creation_date, format: :long %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="text-start d-flex">
  <% if @user.present? && @user.admin? %>
    <div class="mb-2 d-flex">
      <%= link_to t('paintings.show.edit'), edit_painting_path, class: 'btn btn-success me-2' %>
      <%= button_to t('paintings.show.delete'), painting_path(@painting), method: :delete, class: 'btn btn-danger', data: { turbo_confirm: t('paintings.show.confirm_delete') } %>
    </div>
  <% end %>
</div>