
<div class="card post-item bg-transparent border-0">
  <div class="card-body px-0">
    <h2 class="card-title text-white">
      <% title_field = "#{I18n.locale}_title".to_sym %>
      <%= @painting[title_field]%>
    </h2>
  </div>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @painting.images.each_with_index do |image, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <%= image_tag(image.image.url, alt: '', class: 'd-block w-100') if image.image.present? %>
      </div>
    <% end %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div class="carousel-indicators">
    <% @painting.images.each_with_index do |_, index| %>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %> red" aria-current="<%= 'true' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
    <% end %>
  </div>
</div>

<!-- Добавленный блок навигации -->
<div class="d-flex justify-content-center mt-3 mb-3">
  <% if @prev_painting %>
    <%= link_to painting_path(@prev_painting), class: 'btn btn-outline-secondary border rounded-4 d-flex align-items-center' do %>
      <i class="bi bi-arrow-left mx-0"></i><span class="d-none d-md-block mx-2"> Previous Painting</span>
    <% end %>
  <% end %>

  <%= link_to paintings_path, class: 'btn btn-outline-secondary border rounded-4 d-flex align-items-center mx-4' do %>
    <i class="bi bi-grid-3x3-gap mx-0"></i><span class="d-none d-md-block mx-2"> All Paintings</span>
  <% end %>

  <% if @next_painting %>
    <%= link_to painting_path(@next_painting), class: 'btn btn-outline-secondary border rounded-4 d-flex align-items-center' do %>
      <span class="d-none d-md-block mx-2">Next Painting </span><i class="bi bi-arrow-right mx-0"></i>
    <% end %>
  <% end %>
</div>

<div class="card post-item bg-transparent border-0 mb-5">
  <div class="card-body px-0">
    <p class="card-text">
      <% description_field = "#{I18n.locale}_description".to_sym %>
      <%= @painting[description_field] %>
    </p>
    <ul class="post-meta mt-3">
      <li class="d-inline-block">
        <span class="bi-card-list text-primary"></span>
        <span class="mx-2 text-white">Fine Art</span>
      </li>
      <% if @painting.creation_date.present? %>
        <li class="d-inline-block mx-4">
          <span class="bi-clock text-primary"></span>
          <span class="mx-2 text-white"><%= l @painting.creation_date, format: :long %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- Ваш текущий код -->
<div class="text-start d-flex">
  <% if @user.present? && @user.admin? %>
    <div class="mb-2 d-flex">
      <%= link_to 'Edit', edit_painting_path, class: 'btn btn-success me-2' %>
      <%= button_to 'Delete', painting_path(@painting), method: :delete, class: 'btn btn-danger', data: { turbo_confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

