<div class="main-content">
    <div class="container pt-4 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card post-item bg-transparent border-0">
                    <div class="card-body px-0">
                        <h1 class="text-white">User: <%= @user.name %></h1>
                        <p class="text-white mt-4">
                            <strong>Email:</strong> <%= @user.email %>
                        </p>
                        <p class="text-white mt-4">
                            <strong>Info:</strong> <%= @user.info %>
                        </p>

                        <div class="actions mt-3">
                            <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
                            <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
